version: "3.9"

services:
  db:
    image: postgres:16
    container_name: grouped-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: grouped
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
